.text {
    color: white;
    font-family: "Parisienne", cursive;
    font-weight: 600;
    font-style: normal;
}

.text2 {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
}