* {
    box-sizing: border-box;
}

header {
    background-image: url(forget-me-not-flower-as309740666.jpeg);
    padding: 15px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(124, 171, 233);
    font-size: 30px;
}

/* Style the topnav */
ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(118, 166, 228);
}

/* Change color on hover */
ul.topnav li a:hover {
    background-color: white;
    color: black;
}

div.flex-container {
    display: flex;
    flex-direction: row;
     margin-left: 40px;
    margin-right: 40px;
}

div.flex-container>div {
    font-size: 20px;
    text-align: left;
}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

.background {
    background-color: #F8F2ED;
}

.beginning {
    color: white;
    font-family: "Parisienne", cursive;
    font-weight: 600;
    font-style: normal;
}