.style{
     font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
}

.style2{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    font-size: 30px;
}

.style3{
font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
}

.style4{
   font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-align: left;
    font-size: 20px; 
}

.style5{
     font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-align: left;
    font-size: 35px;
}

.style6{
     font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    font-size: 35px;
}

.style7{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}